<!DOCTYPE html>


<html>

	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title> <%= title %>  </title>
		<link rel="stylesheet" href="/style.css" />

	</head>

	<body>
		<header>
			<h1>
				<img class="logo" src="/Logo.jpg" />
			</h1>
			<div id="Banniere">
			<h1> <%= title %> </h1>
				<nav>
					<ul>
						<li><a href="/">Accueil</a></li>
						<li><a href="/Analyse.html">Analyse des résultats</a></li>
						<li><a href="/form">Formulaire</a></li>
						<li><a href="/list/ecole">Destination</a></li>
						<li><a href="/analyse">Analyse des résultats</a></li>
						<li><a href="/admin">Administrateur</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="parent">

