<% var title = 'Form' %>
<% include partials/header.ejs %>
		<div id="Choice">
		<ul align="left">
	<% for(var i=0; i< explist.length; i++) { %>
		<li> <a href="/form/<%= explist[i].id%>/"><%= explist[i].id %> 
		<% if(explist[i].age) { %>
		(<%=explist[i].age%> years old)
		<% } %>
		</a></li>
	<% } %>
	</ul>
	<form action="/form/new">
	    <input type="submit" value="Add new experience" />
	    </form>
	</div>
<% include partials/footer.ejs %>
