<% var title = 'International Dataset'; var current = 'home' %>
<% include partials/header.ejs %>
		<div id="Intro">
		<article class="Welcome">

		Welcome into the official website of the international student's experience.

		<p>Here, you'll be able to look for everything you need to know about your (maybe) future destination. You will even find some testimonies about how life is according to students who has already been abroad. </p>

		</article>
		</div>

<% include partials/footer.ejs %>
