<% var title = 'Show_Experience' %>
<% include partials/header.ejs %>
<h1> Basics information </h1>

	<table>
		<tr>
			<th>Id étudiant</th>
			<td> </td>
		</tr>
		<tr>
			<th>Age</th>
			<td> </td>
		</tr>
		<tr>
			<th>Type d'experience</th>
			<td> </td>
		</tr>
		<tr>
			<th>Ecole/Entreprise</th>
			<td> </td>
		</tr>
		<tr>
			<th>Langue parlé</th>
			<td> </td>
		</tr>
		<tr>
			<th>Emprunt ?</th>
			<td> </td>
		</tr>
		<tr>
			<th>Si oui, Combien ?</th>
			<td> </td>
		</tr>
	</table>

	<h1> During the experience </h1>

	<table>
		<tr>
			<th>Cout</th>
			<td> </td>
		</tr>
		<tr>
			<th>Cout de location</th>
			<td> </td>
		</tr>
		<tr>
			<th>Cout alimentation</th>
			<td> </td>
		</tr>
		<tr>
			<th>Cout formation</th>
			<td> </td>
		</tr>
		<tr>
			<th>Cout recherche agence</th>
			<td> </td>
		</tr>
	</table>

	<h1> After the experience </h1>
	<table>
		<tr>
			<th>Recommande(oui/non)</th>
			<td> </td>
		</tr>
		<tr>
			<th>Ressenti langue</th>
			<td> </td>
		</tr>
		<tr>
			<th>Surprise</th>
			<td> </td>
		</tr>
		<tr>
			<th>Made angry</th>
			<td> </td>
		</tr>
		<tr>
			<th>Made laugh</th>
			<td> </td>
		</tr>
		<tr>
			<th>What missed</th>
			<td> </td>
		</tr>
		<tr>
			<th>Things appreciated want integrate now</th>
			<td> </td>
		</tr>
		<tr>
			<th>Interact same ways </th>
			<td> </td>
		</tr>
		<tr>
			<th>Differences time organization</th>
			<td> </td>
		</tr>
		<tr>
			<th>Advice</th>
			<td> </td>
		</tr>
		<tr>
			<th>Most Difficult</th>
			<td> </td>
		</tr>
		<tr>
			<th>agresso iu</th>
			<td> </td>
		</tr>
	</table>

<% include partials/footer.ejs %>
