body {
    background-color: #fbfbfb;
    background-image: url("../img/bk.png");
    background-repeat: repeat;
}

a {
  color: #1d1d1d;
  text-decoration: none !important;
}

a:hover {
  color:#1b9ede;
}

#linkActive {
  font-weight: bold;
  color: #0085c6;
}

.no-decoration {
  text-decoration: none !important;
}
.no-decoration:hover {
  color:#0085c6;
}
/*a:hover.no-decoration*/

.container {
  background-color: #eee;
}

.bl-blue /* border left blue */
{
  border-left: 8px solid #0085c6;
  padding-left: 7px;
}

.navigation-fixed-height {
  min-height:135px;
}

h5 {
  line-height: 35px !important;
}

.container-all {
  position: relative;
  min-height: 600px;
  border: 1px solid #d5d5d5;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height: 50px;
  line-height: 50px;
  background-color: #0085c6;
  margin: 0 -3rem!important;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
  color: #fff;
}

.title-page {
  color: #0085c6;
  text-align: center
}

.separator {
  min-height:10px;
  width: 1px
}
/*
 * Make bootstrap-select work with bootstrap 4 see:
 * https://github.com/silviomoreto/bootstrap-select/issues/1135
 * */
.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden{
  display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a{
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #337ab7 !important;
}

.bootstrap-select .check-mark::after {
  content: "✓";
}

.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}
