h1
{
	display: flex;
	flex-direction: column;
	font-size: 60px;
	text-align: center;
	font-family:'Book Antiqua';
	font-weight: bold;
	color: blue;
}

.logo
{
	display: flex;
	justify-content: center;
	margin: 30px;
	margin-top: 20px;
	margin: auto;
	width: 300px;
}


nav ul
{
	display: flex;
	margin: auto;
	border: solid black 2px;
	border	margin-top: 10px;
}

nav li
{
	display: flex;
	margin: auto;
	list-style-type: none;
}

nav a
{
	color: blue;
	text-decoration: underline; /* Souligner le texte */
	font-size: 1em;
	font-weight: bold; /* Texte en gras*/
	font-style: italic; /* Texte en italique*/

}


.Welcome
{
 display: flex; /* Mettre des flexbox*/
 flex-direction: column;
 margin: auto; /* Impératif pour faire des justify-content (alignement) */
 justify-content: center;

/* Réalisation d'une bordure */ 

 border-width:1px 2px 3px 1px;
 border-color: black;
 border: groove;
 padding:0 10px;
 width: 400px;
 text-align: center;
}

.button 
{
	display:flex;
	justify-content: center;
	justify-content: space-around;
	height: 25px;
	padding-right: 40%;
	padding-left: 40%;
}

section article
{
	text-align: left;
	padding-left: 20%;
	padding-right: 30%;
}

h3
{
	font-weight: bold; /* Texte en gras*/
	text-decoration: underline; /* Souligner le texte */
}

nav h2
{
	display: flex;
	margin: auto;
	color: black;
	justify-content: center;
	list-style-type: none;
}

.country
{
	border-width:1px 2px 3px 1px;
 border-color: black;
 border: groove;
 padding:0 30px;
}

.domains
{
	border-width:1px 2px 3px 1px;
 border-color: black;
 border: groove;
 padding:0 30px;
}

.university
{
	border-width:1px 2px 3px 1px;
 border-color: black;
 border: groove;
 padding:0 30px;
}

.object
{
	border-width:1px 2px 3px 1px;
 border-color: black;
 border: groove;
 padding:0 30px;
}
