<% var title = 'Form completed'; var current = 'form'; %>
<% include ../partials/header.ejs %>
	<div id="main-container">
	You have just finished to complete the formular for this abroad experience.
	Thank You, for your feedback !
	</div>
<% include ../partials/footer.ejs %>
