<% var title = 'Form - ' + formgroupname %>
<% include ../partials/header.ejs %>
<div id="main-container">
		<div style="width: 500px; text-align: left" >
			You completed the before-departure part of the formular. You will come back to fill in the rest of the formular after your experience, to tell us the amazing things you did there.
			The international office wish you a great internation experience. Have fun !
		</div>
</div>
<% include ../partials/createNewManager.ejs %>
<% include ../partials/footer.ejs %>
